@charset "UTF-8";

/* 共用表單格式 */
table {
    width: 1050px;
    margin: 0 auto;
    border-collapse: separate;
    /* 設置表格邊框和單元格分開 */
    border-spacing: 0 10px;
    /* 設置水平方向為 0，垂直方向為 5px */
}

th:nth-child(1) {
    border-radius: 10px 0px 0px 10px;
}

th:nth-last-child(1) {
    border-radius: 0px 10px 10px 0px;
    width: 48px;
}

th,
td {
    font-size: 16px;
    line-height: 50px;
    letter-spacing: 0.2em;
    text-align: left;
}

tr {
    height: 50px;
}

#separate {
    height: 20px;
}

th {
    background: #C39681;
    color: #FFFFFF;
}

td {
    color: #613134;
    vertical-align: top;
}

/* banner */
#banner {
    position: relative;
    width: 100%;
    height: fit-content;
    background-image: url('../images/confirm/banner_test2.png');
    background-size: cover;
}

#banner img {
    position: absolute;
    width: 100%;
    height: 220px;
    object-fit: cover;
    bottom: 0;
}

/* 內容 */
#content {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(../images/confirm/bg_confirm.png);
    background-size: cover;
}

.tittle_confirm {
    padding-top: 100px;
    width: 100%;
}

#content h1 {
    width: 280px;
    height: 52px;
    border-bottom: 1px solid #613134;
    margin: 0 auto 60px auto;
    text-align: center;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2em;
    color: #613134;
}

/* 購物車 */
.list_confirm {
    margin: 0 auto;
    width: 1050px;
}

#item_list button {
    border: none;
    background: transparent;
}

th:nth-child(1),
td:nth-child(1) {
    text-align: center;
    width: 250px;
}

th:nth-last-child(2) {
    width: 150px;
}

td:last-child {
    text-align: end;
}

/* 展開按鈕 */
.expand {
    cursor: pointer;
}

[class^="contents-row_"] {
    display: none;
}

/* 一開始先隱藏內容 */


.contents {
    padding: 0 10px;
    background: #E6DEDD;
    border-radius: 10px;
    margin-right: 20px;
    font-size: 14px;
}

/* 暖心小卡 */
form {
    padding-top: 10px;
    width: 300px;
    margin: 0;
    text-align: center;
}

textarea {
    padding: 10px 15px;
    width: 100%;
    min-height: 150px;
    border: none;
    background: #E6DEDD;
    border-radius: 10px;
    resize: none;
    outline: none;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.2em;
    color: #613134;
}

textarea::-webkit-scrollbar {
    width: 10px;
}

textarea::-webkit-scrollbar-thumb {
    background: #d2d2d2;
    border-radius: 10px;
    overflow: hidden;
}


/* 垃圾桶、加減符號垂直置中 */
.trash {
    display: inline-block;
    height: 50px;
    vertical-align: middle;
    cursor: pointer;
}

.quan a {
    display: inline-block;
}

.quan div {
    display: inline-block;
    vertical-align: top;
}

.qty {
    width: 70px;
    height: 26px;
    text-align: center;
    border: 1px solid #613134;
    border-radius: 10px;
    display: block;
    margin: 10px 5px 14px 5px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #613134;
}

tr {
    border-bottom: #613134 1px solid;
}

#line {
    padding-left: 0;
}

#line hr {
    background-color: #613134;
    height: 1px;
    border: none;
}

/* 購物車為空提示 */
.hint {
    display: none;
    width: 1050px;
    height: 150px;
    margin: 0 auto;
    text-align: center;
}

.hint h2 {
    font-size: 20px;
    line-height: 150px;
    letter-spacing: 0.2em;
    color: #613134;
}

@media (max-width: 820px) {
    table {
        display: block;
        width: 600px;
        margin: 0 auto;
    }

    .list_confirm {
        width: 600px;
    }

    tbody,
    tr,
    td {
        display: block;
        border: 0;
        text-align: left;
    }

    tr {
        width: fit-content;
        height: fit-content;
        margin: 0 auto;
        border-bottom: 1px solid #613134;
    }

    td:nth-child(1) {
        width: fit-content;
    }
    td {
        text-align: center;
        width: fit-content;
    }
    td.w_card::before {
        vertical-align: top;
    }
    form {
        display: inline-block;
    }
    .col {
        display: none;
    }

    td[data-title]:before {
        content: attr(data-title)":";
        font-weight: bold;
        margin-right: 5px;
        display: inline-block;
        width: 120px;
        text-align: right;
    }
    
}

/* 商品總額 */
.total {
    width: 1050px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.total h2 {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.2em;
    color: #613134;
}

/* 按鈕 */
.step_button {
    width: 1050px;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.step_button2 {
    width: 1050px;
    margin: 60px auto 0 auto;
    display: none;
    justify-content: center;
    padding-bottom: 100px;
}

#contShopping,
#checkout,
#shoppingNow {
    display: block;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.2em;
    color: #FFFFFF;
    text-decoration: none;
    background: #613134;
    border-radius: 10px;
    padding: 6px 36px;
}

/* 刪除視窗 */
.mask {
    display: none;
    z-index: 10;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    ;
}

.delete_wd {
    position: sticky;
    top: calc(50% - 180px/2);
    left: calc(50% - 400px/2);
    width: 400px;
    height: 180px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.delete_wd>* {
    width: 250px;
    margin: 0 auto;
    text-align: center;
}

.delete_wd h1 {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.2em;
    color: #613134;
    padding-top: 35px;
    margin-bottom: 10px;
}

.step_button_del {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

#con_del,
#cancel {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.2em;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 10px;
    padding: 6px 24px;
}

#con_del {
    background: #C39681;
}

#cancel {
    background: #613134;
}