main {
    /* margin-top: 60px; */

    display: flex;
    flex-direction: column;
    /*垂直排*/
    align-items: center;
    /*副軸(水平)置中*/

    font-family: 'Noto Sans TC', sans-serif;
}

body {
    background-image: url(../images/customization/bg_confirm.png);
    background-size: cover;
}

#banner #customization {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#banner {
    background-image: url(../images/news/banner_big.png);
    background-size: cover;
    background-position: center;

    /*object-fit: cover; 會覆蓋且自動置中*/
    width: 100%;
    height: 220px;
}

.pg_title {
    width: 100%;
}

.pg_title .title {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2em;
    color: #613134;

    text-align: center;
    margin: 100px;

    position: relative;
}

.pg_title .title::after {
    content: "";
    position: absolute;
    bottom: -13px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 1px;
    background-color: #613134;

    animation: expand 0.35s linear forwards;
}

@keyframes expand {

    /* title下的線的動畫 */
    0% {
        width: 0;
    }

    100% {
        width: 20%;
    }
}

@media (max-width:820px) {

    @keyframes expand {

        /* title下的線的動畫 */
        0% {
            width: 0;
        }

        100% {
            width: 145px;
        }
    }
}

/*內容區*/
/*整體*/
#accordion {
    /* width: 1050px; */
    width: 73vw;
    max-width: 1050px;

    /* height: 100vh; 暫時撐高 */
    margin-bottom: 80px;
}

#accordion h3 {
    /*外框*/
    /* width: 1050px; */
    width: 100%;

    height: 45px;
    background: #E6DEDD;
    border-radius: 10px;

    /*文字*/
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.2em;
    color: #613134;
    line-height: 45px;

    margin-top: 52px;
    padding-left: 12px;

    /* 字跟按鈕 */
    display: flex;
    flex-direction: row-reverse;
    /*span被自動生成在標題字前面，只好先反過來排*/
    justify-content: space-between;
    /*貼頭尾*/
}


/* 展開收合按鈕 */
h3 span {
    width: 50px;
    height: 45px;
    /* 預設要是檢的 */
    background-image: url(../images/customization/Collapse.png);
    background-repeat: no-repeat;
    background-position: center;
}

.ui-accordion-header-active span {
    background-image: url(../images/customization/Collapse.png);
    background-repeat: no-repeat;
    background-position: center;
}

.ui-accordion-header-collapsed span {
    background-image: url(../images/customization/add.png);
    background-repeat: no-repeat;
    background-position: center;
}

/* 選擇的幾入提示 */

.hit {
    /*用JS長出來的*/
    margin-left: -190px;
}


/*客製選擇區-Step1*/
.quantity {
    display: flex;
    justify-content: space-between;
    /*貼頭尾，中間均分*/
    margin-right: 32px;
    margin-left: 10px;
    flex-wrap: wrap;
}

.radio {
    width: 130px;
}


[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.radio [type="radio"]:checked+label,
.radio [type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    line-height: 40px;
    display: inline-block;
    color: #613134;
}

.radio [type="radio"]:checked+label:before,
.radio [type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 8px;
    width: 22px;
    height: 22px;
    border: 1px solid #613134;
    border-radius: 100%;
    background: #fff;
}

.radio [type="radio"]:checked+label:after,
.radio [type="radio"]:not(:checked)+label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #C39681;
    position: absolute;
    top: 14px;
    left: 6px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.radio [type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.radio [type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}



@media (max-width:820px) {

    .quantity {
        justify-content: start;
        /*貼頭*/
    }
}

@media (max-width:576px) {

    /* step 文字大小 */
    #accordion h3 {
        font-size: 16px;
    }

    .hit {
        font-size: 14px;
        margin-left: -120px;
    }
}


/*客製選擇區-Step2*/


.choho_list {
    width: calc(100% + 30px);
    display: flex;
    /*item們水平排*/
    flex-wrap: wrap;
    /*寬度不夠就換行*/
    margin-bottom: 75px;
    /* 推開跟Step3的距離，空出位置給提示字*/
    justify-content: flex-start;
    /* justify-content: space-between; */

}

.choco_item {
    /* width: 20%; */
    width: 200px;
    height: 200px;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-right: 10px;
}



.choco_item figure,
.choco_item figure img {
    width: 95%;
    display: flex;
    justify-content: center;
}

.choco_name {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2em;
    color: #613134;

    display: block;
    text-align: center;

    margin-top: 10px;
}

.quan {
    /*商品 -[___]+ 區*/
    width: 95%;
    display: flex;
    justify-content: space-between;
    /*貼頭尾*/
    align-items: center;
    /*副軸置中*/
    margin-top: 10px;
}

.qty {
    /*-[___]+的數字框*/
    width: 100px;
    text-align: center;

    background: #FFFFFF;
    border: 1px solid #613134;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.increment {
    /* + 按鈕*/
    position: relative;
}


/* 選擇超過時的提示*/
.over {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #613134;

    width: 150px;
    position: absolute;
    top: 30px;
    right: 19px;
}

@media (max-width:820px) {

    .choho_list {
        justify-content: space-between;
        /* justify-content: space-between; */
    }
}

@media (max-width:576px) {

    .choho_list {
        justify-content: center;
        /* justify-content: space-between; */
    }
}





/*客製選擇區-Step3*/

.box_list {
    /* width: calc(100% + 100px); */
    display: flex;
    /*item們水平排*/
    flex-wrap: wrap;
    /*寬度不夠就換行*/

    margin-top: 40px;
    justify-content: space-between;

}

.box_item {
    width: 30%;
    max-width: 300px;
    margin-top: 40px;
    position: relative;
    /* justify-content: flex-start; */
    /* margin-right: 70px; */
}

.box_item:last-child {
    margin-right: 0px;
}

.box_item figure,
.box_item figure img {
    width: 100%;
    display: flex;
    justify-content: center;
}



/* hover會顯示和名稱 */

.box_item:hover .spanBG {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    border-radius: 10px;
}

.box_item span {
    display: none;
    /* 一開始不顯示不占位 */
}

.box_item:hover span {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    /* line-height: 32px; */
    letter-spacing: 0.2em;
    color: #FFFFFF;
}

/* 禮盒被選時 */
/* .boxClick {
    border: #613134 4px dashed;
    padding: 10px;
} */



/* 禮盒被點選時的動畫 */

.spanBG::before,
.spanBG::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 0%;
    border-radius: 10px;
    opacity: 0;
    transition: width 0.2s linear, height 0.15s 0.2s ease-out, opacity 0s 0.35s;
}

.spanBG::before {
    bottom: -1px;
    left: 0;
    border-top: 3px solid #613134;
    border-left: 3px solid #613134;
}

.spanBG::after {
    top: -1px;
    right: 0;
    border-bottom: 3px solid #613134;
    border-right: 3px solid #613134;
    
}

.spanBG:focus::before,
.spanBG:focus::after {
    content: "";
    background: transparent;
    z-index: 2;
    
    width: 98.5%;
    height: 100%;
    opacity: 1;
    transition: width 0.2s 0.15s ease-out, height 0.15s ease-in, opacity 0s;
}



@media (max-width:820px) {

    .box_item {
        width: 200px;
    }
}


@media (max-width:576px) {

    .box_list {
        justify-content: center;
    }

    .box_item {
        width: 250px;
    }
}





/* btn_下一步 */

#next {
    width: 140px;
    height: 45px;
    background: #613134;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    margin-bottom: 80px;
}

#next a {
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.2em;
    color: #FFFFFF;

    text-align: center;
    line-height: 45px;
}

/* 錯誤訊息 */
.my-title-class-up {
    font-size: 24px;
    line-height: 50px;
    letter-spacing: 0.2em;
    color: #613134;
    margin-bottom: 15px;
}

div:where(.swal2-container) .swal2-html-container {
    /* 改小字 */
    color: #C39681 !important;
    letter-spacing: 0.2em;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    /* 改按鈕樣式 */
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.2em;
    text-decoration: none;
    border-radius: 10px !important;
    padding: 6px 36px;
    background: #613134 !important;
}

div:where(.swal2-container) button:where(.swal2-styled){
    box-shadow:unset !important;
}