main {
    margin-top: 60px;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Noto Sans TC', sans-serif;
}

#banner #sign {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#banner {
    background-image: url(../images/sign_in/sing_in_banner2.png);
    background-size: cover;
    background-position: center;

    /*object-fit: cover; 會覆蓋且自動置中*/
    width: 100%;
    height: 220px;
    position: relative;
    z-index: -1;
}

/*內容區*/
#edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

#edit form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*#edit h2 {
    width: 210px;
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #613134;
    margin: 100px 0 38px;
}

#edit h2::after {
    content: "";
    必寫，content 就算沒內容也一定要寫
    display: block;
    width: 210px;
    height: 1px;
    background-color: #613134;
    position: absolute;
    margin-top: 16px;
}*/


.pg_title {
    width: 100%;
}

.pg_title .title {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2em;
    color: #613134;

    text-align: center;
    margin: 100px;

    position: relative;
}

.pg_title .title::after {
    content: "";
    position: absolute;
    bottom: -13px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 1px;
    background-color: #613134;

    animation: expand 0.35s linear forwards;
}

@keyframes expand {

    /* title下的線的動畫 */
    0% {
        width: 0;
    }

    100% {
        width: 28%;
    }
}

@media (max-width:820px) {

    @keyframes expand {

        /* title下的線的動畫 */
        0% {
            width: 0;
        }

        100% {
            width: 215px;
        }
    }
}


/* 註冊/登入 共用區 */

label {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.2em;

    color: #613134;
    margin: 10px 0 5px;
}

/* 輸入框 */

form input[type=text],
form input[type=password],
form input[type=email] {
    width: 390px;
    height: 50px;
    border-radius: 10px;
    border-color: #613134;

    border: 1px solid #613134;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
    border-radius: 10px;

    color: #613134;

    padding: 9px 0 9px 16px;
}

#county_box,
#district_box,
#zipcode_box {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border-color: #613134;

    border: 1px solid #613134;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
    border-radius: 10px;

    padding: 9px 0 9px 16px;
    margin: 5px 15px 20px 0;
}


form p {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.15em;

    color: #573E28;
    margin-bottom: 20px;
}

/*地址下拉選單*/
select {
    border: 1px solid #613134;
    border-radius: 10px;
    height: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.1em;
    color: #613134;
}

#address {
    width: 487px;
}


@media (max-width:576px) {

    #edit form {
        margin-left: 15px;
    }

    form input[type=text],
    form input[type=password],
    form input[type=email] {
        width: 450px;
    }

    #county_box,
    #district_box,
    #zipcode_box {
        /* width: 180px; */
        margin: 5px 20px 20px 0;
    }

    #zipcode_box {
        width: 100px;
    }

    #address {
        width: 450px;
    }
}

@media (max-width:576px) {

    #edit form {
        margin-left: 20px;
    }

    form input[type=text],
    form input[type=password],
    form input[type=email] {
        width: 350px;
    }

    #county_box,
    #district_box,
    #zipcode_box {
        /* width: 180px; */
        margin: 5px 20px 20px 0;
    }

    #zipcode_box {
        width: 150px;
    }

    #address {
        width: 350px;
    }
}



/* 按鈕 */
.btn_div {
    /* width: 487px; */
    text-align: center;
    margin: 20px 0;
}

form input[type=submit] {
    width: 103px;
    height: 35px;
    background: #613134;
    border-radius: 10px;
    color: #ffffff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    border-color: transparent;

    /*定位在form最右下
    position: absolute;
    right: 0;
    bottom: 0;*/

}

.btn {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #FFFFFF;

}



/* 預設值樣式 */
::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.1em;
    color: #C39681;
}


footer {
    margin-top: 80px;
}