

main {
    /* margin-top: 60px; */

    display: flex; 
    flex-direction: column; /*垂直排*/
    align-items: center; /*副軸(水平)置中*/

    font-family: 'Noto Sans TC', sans-serif;
  }
  
  #banner #news {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #banner{
    background-image: url(../images/news/banner_big.png);
    background-size: cover;
    background-position: center;

    /*object-fit: cover; 會覆蓋且自動置中*/
    width: 100%;
    height: 220px;
  }
  
  .title {
    color: #613134;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2em;

    text-align: center;
    margin: 100px;
  }

  .title::after{
    content: ""; /*必寫，content 就算沒內容也一定要寫*/
    display: block;
    width: 20%;
    height: 1px;
    background-color: #613134;
    margin: auto; /*水平置中*/
  }

  .list_item{
    display: flex; /* 使用 flexbox 佈局 */
    justify-content: center; /* 水平置中 */
    /* height: 100vh; 設置高度為視窗高度 */
    margin: 44px 0;
  }

  

  .list_item_a{
    display: flex; /*a裡的figure跟兩個div可以水平排，因為只有控制a的子元素，所以div class="text"裡的一樣會垂直排*/
    align-items: center; /*子元素垂直置中*/
    
    width: 70%;
    height: 200px; /*每個a固定最高就是200px*/

    border-top: #9D9D9D 1px solid;
    padding-top: 44px;
    text-decoration: none; 
}

.list_item_end{
  /*最後一個要另外加上下底線*/
  height: 244px;/*加上要給下方的距離，所以高度重設*/
  border-bottom: #9D9D9D 1px solid;
  padding: 44px 0px 44px 0;
}


/*消息裡的圖片區*/

figure{
    width: 300px;
    height: 200px;
    flex-shrink: 0; /*暫時固定Size*/
    margin-right: 40px;
}

figure img{
    object-fit: cover; /*會覆蓋且自動置中*/
    height: 100%;
    width: 100%;
    border-radius: 10px;/*圓角*/
    overflow:hidden; /*溢出時，內容自動隱藏，這樣圓角才會出來*/

}

.text{
  margin-right: 40px;
}

.text time{
    color: #C39681;
    font-family: 'GFS Didot', serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2em;
}

.text h2{
    color: #613134;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.2em;

    font-weight: 500;

    overflow: hidden;/*超出區塊就省略*/
    text-overflow: ellipsis;/*出現...省略號*/
    display: -webkit-box; /*還沒正式被支援的，就會先打-webkit-*/
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;/*顯示四行多的省略*/

}

.text p {
    overflow: hidden;/*超出區塊就省略*/
    text-overflow: ellipsis;/*出現...省略號*/
    display: -webkit-box; /*還沒正式被支援的，就會先打-webkit-*/
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;/*顯示四行多的省略*/

    color: #000000;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.1em;
}

/*右邊箭頭區*/

.more {
  display: flex;
  align-items:flex-end;
  width: 80%;
  height: 1px;
  /* margin-left: 80px; */
}

.line_1,
.line_2{
  
  height: 1px;
  background: #613134 ;
}

.line_1{
  width: 90%;
}

.line_2{
  width: 30%;
  transform-origin:top left;
  transform: rotate(145deg);
}


  