@charset "UTF-8";

/* 共用表單格式 */
#item_list {
    max-width: 1050px;
    margin: 0 auto;
    border-collapse: separate;
    /* 設置表格邊框和單元格分開 */
    border-spacing: 0 20px;
    /* 設置水平方向為 0，垂直方向為 10px */
}

#item_list th:nth-child(1) {
    border-radius: 10px 0px 0px 10px;
}

#item_list th:nth-last-child(1) {
    border-radius: 0px 10px 10px 0px;
}

th,
td {
    font-size: 20px;
    line-height: 50px;
    letter-spacing: 0.2em;
    text-align: left;
}

tr {
    display: flex;
}

#item_list th {
    background: #C39681;
    color: #FFFFFF;
}

td {
    color: #613134;
}

/* banner */
#banner {
    position: relative;
    width: 100%;
    height: 280px;
}

#banner img {
    position: absolute;
    width: 100%;
    height: 220px;
    object-fit: cover;
    bottom: 0;
}

/* 內容 */
#content {
    position: relative;
    width: 100%;
    min-height: 120vh;
    background: url(/images/confirm/bg_confirm.png);
    background-size: cover;
}

.tittle_confirm {
    padding-top: 100px;
    width: 100%;
}

#content h1 {
    width: 280px;
    height: 52px;
    border-bottom: 1px solid #613134;
    margin: 0 auto 60px auto;
    text-align: center;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2em;
    color: #613134;
}

/* 訂單確認 */
.list_confirm {
    margin: 0 auto;
    width: 1050px;
}

th,
td {
    display: block;
}

#item_list tr {
    width: 1050px;
}

#text th:nth-child(1),
#text td:nth-child(1) {
    text-align: start;
    width: 45%;
    padding-left: 14px;
}

#text th:nth-child(2),
#text td:nth-child(2) {
    width: 45%;
}
#text th:nth-child(3),
#text td:nth-child(3) {
    width: 10%;
}
/* 圖片、商品資訊、卡片內容區 */
#info_card {
    width: 100%;
}
#info_card td {
    width: 100%;
}
.img_info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#info_card img {
    margin-left: 14px;
}
.item_info {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    margin-right: 14px;
    border-radius: 10px;
    border: 1px solid #613134;
}
.item_info h3 {
    border-bottom: 1px solid #613134;
}
#items tr {
    width: 660px;
}
/* 每項商品底部分隔線 */
#line {
    width: 100%;
}

#line hr {
    background-color: #613134;
    height: 1px;
    border: none;
}

/* 商品總額 */
.total {
    width: 1050px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.total h2 {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.2em;
    color: #613134;
}
span {
    display: inline-block;
    width: 105px;
}

/* 付款及收件資訊 */


/* 按鈕 */
.step_button {
    width: 1050px;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

#back,
#send_order {
    display: block;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.2em;
    color: #FFFFFF;
    text-decoration: none;
    background: #613134;
    border-radius: 10px;
    padding: 6px 36px;
}