@charset "UTF-8";

/* 共用表單格式 */
#item_list {
    max-width: 1050px;
    margin: 0 auto;
    border-collapse: separate;
    /* 設置表格邊框和單元格分開 */
    border-spacing: 0 20px;
    /* 設置水平方向為 0，垂直方向為 10px */
}

#item_list th:nth-child(1) {
    border-radius: 10px 0px 0px 10px;
}

#item_list th:nth-last-child(1) {
    border-radius: 0px 10px 10px 0px;
}

th,
td {
    font-size: 16px;
    line-height: 50px;
    letter-spacing: 0.2em;
    text-align: left;
}

tr {
    display: flex;
}

#item_list th {
    background: #C39681;
    color: #FFFFFF;
}

td {
    color: #613134;
}

/* banner */
#banner {
    position: relative;
    width: 100%;
    height: 280px;
}

#banner img {
    position: absolute;
    width: 100%;
    height: 220px;
    object-fit: cover;
    bottom: 0;
}

/* 內容 */
#content {
    position: relative;
    width: 100%;
    min-height: 120vh;
    background: url(/images/confirm/bg_confirm.png);
    background-size: cover;
}

.tittle_confirm {
    padding-top: 100px;
    width: 100%;
}

#content h1 {
    width: 280px;
    height: 52px;
    border-bottom: 1px solid #613134;
    margin: 0 auto 60px auto;
    text-align: center;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2em;
    color: #613134;
}

/* 訂單確認 */
.list_confirm {
    margin: 0 auto;
    width: 1050px;
}

th,
td {
    display: block;
}

#item_list tr {
    width: 1050px;
}

#text th:nth-child(1),
#text td:nth-child(1) {
    text-align: start;
    width: 45%;
    padding-left: 14px;
}

#text th:nth-child(2),
#text td:nth-child(2) {
    width: 40%;
}

#text th:nth-child(3),
#text td:nth-child(3) {
    width: 15%;
    padding-right: 14px;
}

/* 圖片、商品資訊、卡片內容區 */
#info_card {
    width: 100%;
}

#info_card td {
    width: 100%;
}

.img_info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.img {
    width: 200px;
    height: 200px;
}

#info_card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: 14px;
}

.item_info {
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 10px 30px;
    margin-right: 14px;
    border-radius: 10px;
    border: 1px solid #613134;
}

.chocolate {
    border-bottom: 1px solid #613134;
}

#items tr {
    width: 660px;
}

.warm {
    border-top: 1px solid #613134;
}

p {
    font-size: 16px;
    font-weight: 400;
}


/* 每項商品底部分隔線 */
#line {
    width: 100%;
    margin-top: 30px;
}

#line hr {
    background-color: #613134;
    height: 1px;
    border: none;
}

/* 商品總額 */
.total {
    width: 1050px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.total h2 {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.2em;
    color: #613134;
    margin-bottom: 8px;
}

span {
    display: inline-block;
    width: 105px;
    text-align: end;
}

/* 付款及收件資訊 */
.pay_dely {
    width: 1050px;
    margin: 0 auto;
}

.pay_dely h2 {
    padding: 0 12px;
    height: 50px;
    background: #C39681;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 50px;
    letter-spacing: 0.2em;
    color: #FFFFFF;
    margin: 0 0 25px 0;
}

#PD_items {

    display: flex;
}

#PD_items h3,
h4 {
    height: 32px;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.2em;
    color: #613134;
    margin-bottom: 20px;
}

#PD_items h3 {
    width: 150px;
    font-weight: 500;
    padding-left: 14px;
}

#PD_items h4 {
    font-weight: 400;
}

/* 按鈕 */
.step_button {
    width: 1050px;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

#back,
#send_order {
    display: block;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.2em;
    color: #FFFFFF;
    text-decoration: none;
    background: #613134;
    border-radius: 10px;
    padding: 6px 36px;
}

/* 遮罩、彈出視窗 */
.mask {
    display: none;
    z-index: 10;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    ;
}

.completed {
    position: sticky;
    top: calc(50% - 400px/2);
    left: calc(50% - 600px/2);
    width: 600px;
    height: 400px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.completed > * {
    width: 315px;
    margin: 0 auto;
    text-align: center;
}
.check_icon {
    padding-top: 75px;
    margin-bottom: 26px;
}
.completed h1 {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.2em;
    color: #613134;
    margin-bottom: 10px;
}

.completed p {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.15em;
    color: #C39681;
}

.step_button_comp {
    width: 315px;
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

#to_index,
#order_track {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.2em;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 10px;
    padding: 6px 36px;
}

#to_index {
    background: #C39681;
}

#order_track {
    background: #613134;
}