main {
  margin-top: 60px;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Noto Sans TC', sans-serif;
}

#banner #sign {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#banner {
  background-image: url(../images/sign_in/sing_in_banner2.png);
  background-size: cover;
  background-position: center;

  /*object-fit: cover; 會覆蓋且自動置中*/
  width: 100%;
  height: 220px;
  position: relative;
  z-index: -1;
}

/*內容區*/
#sign {
  position: relative;
  /*給按鈕定位在form最右下*/
}

/* 標籤區 */
.tabs {
  display: flex;
  justify-content: center;
  margin: 100px 0 38px;
}

.tabs li {
  width: 15vw;
  text-align: center;
}

.tabs_left {
  margin-right: 60px;
}

.tabs_right {
  margin-left: 60px;
}

.tabs a {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.2em;

}

.initial {
  color: #C39681;
  position: relative;
}

.initial::after {
  content: "";
  /*必寫，content 就算沒內容也一定要寫*/
  display: block;
  width: 100%;
  height: 1px;
  background-color: #C39681;
  position: absolute;
  margin-top: 16px;
}

.active {
  color: #613134;
  position: relative;
}

.active::after {
  content: "";
  /*必寫，content 就算沒內容也一定要寫*/
  display: block;
  width: 100%;
  height: 1px;
  background-color: #613134;
  position: absolute;
  margin-top: 16px;
}


/* 註冊/登入 共用區 */
#sign_in,
#sign_up {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

#sign_in form,
#sign_up form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.2em;

  color: #613134;
  margin: 10px 0 5px;
}

/* 輸入框 */

.hide {
  display: none;
  /* visibility:collapse; */
}

form input[type=text],
form input[type=password],
form input[type=email] {
  width: 390px;
  height: 50px;
  border-radius: 10px;
  border-color: #613134;

  border: 1px solid #613134;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
  border-radius: 10px;

  padding: 9px 0 9px 16px;
}

form p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.15em;

  color: #573E28;
  margin-bottom: 20px;
}



/* 按鈕 */
form input[type=submit] {
  width: 103px;
  height: 35px;
  background: #613134;
  border-radius: 10px;
  color: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  border-color: transparent;

  /*定位在form最右下*/
  position: absolute;
  right: 0;
  bottom: 0;
}



/* 預設值樣式 */
::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.1em;
  color: #C39681;
}

footer {
  margin-top: 120px;
}